In [217]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import numpy as np

from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [218]:
data = pd.read_csv('MergedData_Final.csv')

In [219]:
#data.columns

In [220]:
#data.drop(columns=['BusinessYear_y', 'StateCode_y','DentalOnlyPlan_y'],inplace=True)

In [2]:
conti = ['EHBPercentTotalPremium', 'EHBPediatricDentalApportionmentQuantity','IssuerActuarialValue','IndividualRate','AVCalculatorOutputNumber','FirstTierUtilization', 'SecondTierUtilization']
#conti = []
cat = ['DentalOnlyPlan_x','IsNewPlan', 'PlanType', 'MetalLevel', 'DesignType', 'UniquePlanDesign','IsNoticeRequiredForPregnancy', 'IsReferralRequiredForSpecialist', 'CompositeRatingOffered', 'ChildOnlyOffering', 'WellnessProgramOffered','IsGuaranteedRate', 'OutOfCountryCoverage', 'OutOfServiceAreaCoverage', 'NationalNetwork', 'CSRVariationType', 'MedicalDrugDeductiblesIntegrated', 'MedicalDrugMaximumOutofPocketIntegrated', 'MultipleInNetworkTiers','IsHSAEligible','Tobacco', 'age_cat','EnrolleeContractRateDeterminationRule', 'TwoParentFamilyMaxDependentsRule', 'SingleParentFamilyMaxDependentsRule', 'DependentMaximumAgRule','ChildrenOnlyContractMaxChildrenRule', 'DomesticPartnerAsSpouseIndicator', 'SameSexPartnerAsSpouseIndicator', 'AgeDeterminationRule', 'MinimumTobaccoFreeMonthsRule', 'MarketCoverage']
#cat = ['DentalOnlyPlan_x','Tobacco', 'PlanType','age_cat','MarketCoverage', 'MetalLevel', 'IsHSAEligible', 'WellnessProgramOffered', 'IsNoticeRequiredForPregnancy', 'IsReferralRequiredForSpecialist', 'MinimumTobaccoFreeMonthsRule']
#conti = ['IssuerActuarialValue', 'AVCalculatorOutputNumber','IndividualRate']
print(len(conti),len(cat))
#transformed = data.drop(columns=conti).apply(LabelEncoder().fit_transform)

7 32

In [3]:
conti

['EHBPercentTotalPremium',
 'EHBPediatricDentalApportionmentQuantity',
 'IssuerActuarialValue',
 'IndividualRate',
 'AVCalculatorOutputNumber',
 'FirstTierUtilization',
 'SecondTierUtilization']

In [374]:
transformed_data = data[cat].apply(LabelEncoder().fit_transform)
transformed_data['index'] = transformed_data.index

non_transformed_data = data[['StandardComponentId','StateCode_x','IndividualRate']]
non_transformed_data['index'] = non_transformed_data.index

processed_data = pd.merge(non_transformed_data,transformed_data, on='index')

/Users/dikshya/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

non_transformed_data = data[['EHBPercentTotalPremium', 'EHBPediatricDentalApportionmentQuantity','IssuerActuarialValue','IndividualRate','AVCalculatorOutputNumber','FirstTierUtilization', 'SecondTierUtilization','PlanId','StateCode_x']]
non_transformed_data['index'] = non_transformed_data.index


transformed_data = data[cat].apply(LabelEncoder().fit_transform)
transformed_data['index'] = transformed_data.index


processed_data = pd.merge(non_transformed_data,transformed_data, on='index')



print(non_transformed_data.shape,transformed_data.shape,processed_data.shape)

In [375]:
processed_data.shape

(96009, 15)

In [376]:
processed_data

      StandardComponentId StateCode_x  IndividualRate  index  DentalOnlyPlan_x  Tobacco  PlanType  age_cat  MarketCoverage  MetalLevel  IsHSAEligible  WellnessProgramOffered  IsNoticeRequiredForPregnancy  IsReferralRequiredForSpecialist  MinimumTobaccoFreeMonthsRule
0          21989AK0130001          AK          68.145      0                 1        0         2        7               1           4              0                       1                             0                                0                             2
1          21989AK0030001          AK          53.000      1                 1        0         2        0               0           5              0                       1                             0                                0                             2
2          21989AK0030001          AK          48.000      2                 1        0         2        1               0           5              0                       1                             0                                0                             2
3          21989AK0030001          AK          42.000      3                 1        0         2        2               0           5              0                       1                             0                                0                             2
4          21989AK0030001          AK          42.000      4                 1        0         2        3               0           5              0                       1                             0                                0                             2
...                   ...         ...             ...    ...               ...      ...       ...      ...             ...         ...            ...                     ...                           ...                              ...                           ...
96004      94562WV0080001          WV        1030.500  96004                 1        0         4        2               1           5              0                       1                             0                                0                             2
96005      94562WV0080001          WV        1040.500  96005                 1        0         4        3               1           5              0                       1                             0                                0                             2
96006      94562WV0080001          WV        1050.500  96006                 1        0         4        4               1           5              0                       1                             0                                0                             2
96007      94562WV0080001          WV        1059.500  96007                 1        0         4        5               1           5              0                       1                             0                                0                             2
96008      94562WV0080001          WV        1064.000  96008                 1        0         4        6               1           5              0                       1                             0                                0                             2

[96009 rows x 15 columns]

In [377]:
#data.columns

In [386]:
def returnCurrentRows(planID,State,age):
    temp = processed_data.loc[(processed_data.StandardComponentId==planID) & (processed_data.StateCode_x==State) & (processed_data.age_cat==age)]
    #return np.array(temp.drop(['PlanId','StateCode_x']))
    return temp

In [387]:
def returnFutureRows(State,age):
    temp = processed_data.loc[(processed_data.StateCode_x==State) & (processed_data.age_cat==age)]
    return temp

In [388]:
planID = '14630WI0010003'
CState = 'WI'
age = 2
FState = 'DE'

In [389]:
#processed_data.loc[processed_data['StateCode_x']=='WI']

In [390]:
processed_data

      StandardComponentId StateCode_x  IndividualRate  index  DentalOnlyPlan_x  Tobacco  PlanType  age_cat  MarketCoverage  MetalLevel  IsHSAEligible  WellnessProgramOffered  IsNoticeRequiredForPregnancy  IsReferralRequiredForSpecialist  MinimumTobaccoFreeMonthsRule
0          21989AK0130001          AK          68.145      0                 1        0         2        7               1           4              0                       1                             0                                0                             2
1          21989AK0030001          AK          53.000      1                 1        0         2        0               0           5              0                       1                             0                                0                             2
2          21989AK0030001          AK          48.000      2                 1        0         2        1               0           5              0                       1                             0                                0                             2
3          21989AK0030001          AK          42.000      3                 1        0         2        2               0           5              0                       1                             0                                0                             2
4          21989AK0030001          AK          42.000      4                 1        0         2        3               0           5              0                       1                             0                                0                             2
...                   ...         ...             ...    ...               ...      ...       ...      ...             ...         ...            ...                     ...                           ...                              ...                           ...
96004      94562WV0080001          WV        1030.500  96004                 1        0         4        2               1           5              0                       1                             0                                0                             2
96005      94562WV0080001          WV        1040.500  96005                 1        0         4        3               1           5              0                       1                             0                                0                             2
96006      94562WV0080001          WV        1050.500  96006                 1        0         4        4               1           5              0                       1                             0                                0                             2
96007      94562WV0080001          WV        1059.500  96007                 1        0         4        5               1           5              0                       1                             0                                0                             2
96008      94562WV0080001          WV        1064.000  96008                 1        0         4        6               1           5              0                       1                             0                                0                             2

[96009 rows x 15 columns]

In [391]:
processed_data.columns

Index(['StandardComponentId', 'StateCode_x', 'IndividualRate', 'index', 'DentalOnlyPlan_x', 'Tobacco', 'PlanType', 'age_cat', 'MarketCoverage', 'MetalLevel', 'IsHSAEligible', 'WellnessProgramOffered', 'IsNoticeRequiredForPregnancy', 'IsReferralRequiredForSpecialist', 'MinimumTobaccoFreeMonthsRule'], dtype='object')

In [408]:
CurrentDF = returnCurrentRows(planID,CState,age)
FutureDF = returnFutureRows(FState,age)

CurrentDF_.drop_duplicates(inplace=True)
FutureDF_.drop_duplicates(inplace=True)

CurrentDF.reset_index(inplace=True)
FutureDF.reset_index(inplace=True)

In [409]:
print(CurrentDF.shape,FutureDF.shape)

(7, 16) (65, 16)

In [434]:
CurrentDF_ = CurrentDF.drop(columns=['StandardComponentId','StateCode_x','index','level_0'])
FutureDF_ = FutureDF.drop(columns=['StandardComponentId','StateCode_x','index','level_0'])

print(CurrentDF_.shape,FutureDF_.shape)

(7, 12) (65, 12)

In [411]:
similarity = cosine_similarity(CurrentDF_,FutureDF_)

In [397]:
#?np.indices

In [399]:
#similarity

In [412]:
most_sim = np.amax(similarity)
a,b = np.where(similarity == most_sim)

In [449]:
#a

In [450]:
#b

In [446]:
SCI = (FutureDF.iloc[b].drop_duplicates())['StandardComponentId'].unique()

In [429]:
old = int(CurrentDF_.drop_duplicates()['IndividualRate'])

In [430]:
new = int(FutureDF_.iloc[b].drop_duplicates()['IndividualRate'])

In [445]:
#FutureDF

In [447]:
SCI

array(['76168DE0410017'], dtype=object)

In [448]:
print('Plan-ID: New State',SCI)
print('Old Rate:',)
print('Difference in Rate:',new-old)

Plan-ID: New State ['76168DE0410017']
Difference in Rate: 31

In [292]:
temp

Empty DataFrame
Columns: []
Index: []

In [283]:
len(a)

35

In [255]:
#maximum_sim = max(similarity)
#max_index = similarity.index(maximum_sim)

In [256]:
#similarity

FutureDF.reset_index(inplace=True)
CurrentDF.reset_index(inplace=True)

In [279]:
#CurrentDF_

In [454]:
#pd.concat([FutureDF.iloc[b],CurrentDF.loc[CurrentDF.index==int(a)]])

In [455]:
#suggested